# Neovim
.local/
.cache/
.state/
undo/
swap/
backup/

# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.python-version

# General
.DS_Store
.env
.env.*
*.log
*.tmp
